In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats

In [5]:
df=pd.read_csv("Student_data.csv")

In [6]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [7]:
df.isnull()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
391,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
392,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
393,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
series = pd.isnull(df["reading score"])
df[series]

KeyError: 'reading score'

In [9]:
df.notnull()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
391,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
392,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
393,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
394,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [10]:
seseries = pd.notnull(df["reading score"])
df[series]

KeyError: 'reading score'

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder ()
df['gender'] = le.fit_transform(df['gender'])
newdf=df
df

In [ ]:
df['gender'].replace({1: "male", 0: "female"}, inplace=True)
df

In [ ]:
ndf=df
ndf.fillna(0)

In [ ]:
m_v=df['reading score'].mean()
df['reading score'].fillna(value=m_v, inplace=True)
df

In [ ]:
ndf.replace(to_replace = np.nan, value = -99)

In [ ]:
ndf.dropna()

In [ ]:
ndf.dropna(how = 'all')

In [ ]:
ndf.dropna(axis = 1)

In [ ]:
new_data =ndf.dropna (axis = 0, how ='any')
new_data

In [ ]:
col =['reading score', 'reading score', 'writing score', 'placement score']
df.boxplot(col)

In [ ]:
print(np.where(df['reading score']>90))
print(np.where(df['writing score']>90))

In [ ]:
fig, ax =plt.subplots(figsize = (18,10))
ax.scatter(df['reading score'], df['writing score'])
plt.show()
ax.set_xlabel('(Proportion non-retail business acres)/(town)')
ax.set_ylabel('(Full-value property-tax rate)/($10,000)')

In [ ]:
print(np.where((df['reading score']<50) & (df['writing score']>1)))
print(np.where((df['reading score']>85) & (df['writing score']<3)))

In [ ]:
z = np.abs(stats.zscore(df['reading score']))

In [ ]:
print(z)

In [ ]:
threshold = 0.18

In [ ]:
sample_outliers = np.where(z <threshold)

In [ ]:
sample_outliers

In [ ]:
sorted_rscore= sorted(df['reading score'])

In [ ]:
sorted_rscore

In [ ]:
q1 = np.percentile(sorted_rscore, 25)
q3 = np.percentile(sorted_rscore, 75)
print(q1,q3)

In [ ]:
IQR = q3-q1

In [ ]:
lwr_bound = q1-(1.5*IQR)
upr_bound = q3+(1.5*IQR)
print(lwr_bound, upr_bound)

In [ ]:
new_df=df
for i in sample_outliers:new_df.drop(i,inplace=True)
new_df

In [ ]:
df=pd.read_csv("D:\StudentPerformance.csv")

In [ ]:
df_stud=df
ninetieth_percentile = np.percentile(df_stud['reading score'], 90)
b = np.where(df_stud['reading score']>ninetieth_percentile,
ninetieth_percentile, df_stud['reading score'])
print("New array:",b)

In [ ]:
col = ['reading score']

df.boxplot(col)

In [ ]:
median=np.median(sorted_rscore)
median

In [ ]:
refined_df=df
refined_df['reading score'] = np.where(refined_df['reading score'] >upr_bound, median,refined_df['reading score'])

In [ ]:
df

In [ ]:

refined_df['reading score'] = np.where(refined_df['reading score'] <lwr_bound, median,refined_df['reading score'])

In [ ]:
df

In [ ]:
col = ['reading score']
refined_df.boxplot(col)

In [ ]:
df

In [ ]:
import matplotlib.pyplot as plt
new_df['reading score'].plot(kind ='hist')
df['log_math'] = np.log10(df['reading score'])

In [ ]:
df['log_math'].plot(kind = 'hist')